<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>opbqqvat+znvyzng@tznvy.pbz</string>
	<key>contactName</key>
	<string>Benjamin Coddington</string>
	<key>description</key>
	<string>iTerm2 editor integration.</string>
	<key>name</key>
	<string>iTerm2</string>
	<key>uuid</key>
	<string>FDEDC90D-840D-4A7A-AF64-B10690ABB319</string>
</dict>
</plist>
