<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>opbqqvat+znvyzng@tznvy.pbz</string>
	<key>contactName</key>
	<string>Benjamin Coddington</string>
	<key>description</key>
	<string>iTerm editor integration.</string>
	<key>name</key>
	<string>iTerm</string>
	<key>uuid</key>
	<string>FFCE4C74-6424-425C-AB58-97D993EB65DA</string>
</dict>
</plist>
